*{
    margin: 0;
}

body{
    background-color: #737373;
    overflow-x: hidden;
}

#firstSection{
    width: 100%;
    height: 100vh;
    background-color: #8d8d8d;
}

#secondSection{
    width: 100%;
    height: 100%;
}

.upperHalf{
    position: relative;
    width: 120%;
    height: 40%;
    bottom: 10%;
    right: 5%;
    transform: rotate(5deg);
    background-color: #a6a6a6;
}

.bottomHalf{
    display: flex;
    justify-content: space-between;
}


.socialLogo{
    position: absolute;
    left : 13%;
    top : 60%;
    font-size: 50px;
    transform: rotate(-5deg);
}

.socialLogo a i {
    color: black;
}



.profilPic{
    position: absolute;
    left: 70%;
    top: 25%;
    transform: rotate(-5deg);
}

.myDescription{
    margin-left: 10%;
    width: 30%;
}
.myDescription p{
    font-size: 25px;
    text-align: justify;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 11%;
    margin-top: 3%;
    text-align: center;
}

.menu a h2{
    text-decoration: none;
    color: black;
}

.scrollDown {
  height: 50px;
  width: 30px;
  border: 2px solid black;
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
}
.scrollDown::before,
.scrollDown::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid black;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scrollDown::before {
  top: 30%;
  animation-delay: 0.3s;
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

.container{
    margin-top: 5%;
}

.project{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectSnippet{
    border-radius: 10px;
}
.project h2{
    margin-top: 5%;
    text-align: center;
    color: #d8dee9;
}
.project p{
    text-align: center; 
    color: #d8dee9;
}

#contact{
    margin-bottom: 0; 
    background-color: #5a5a5a;
}
